@charset "utf-8";

/* Top bar decoration */
.top-bar {
    background-color: green;
    height: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

/* Invisible div for padding */
.nav-spacer{
  padding-bottom: 110px;
}

/* Navbar styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 6rem;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 1;
  }
  
  /* Teafusion logo */
  .navbar .logo {
    height: 40px;
  }
  
  /* ul items */
  .navbar .nav {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  
  /* ul items color */
  .navbar .nav li a {
    color: #555;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Bookman Old Style', serif;
  }

  /* ul items hover color */
  .navbar .nav li a:hover{
    color: #008000;
  }
  
  /* Navbar right-side icons */
  .navbar .nav-icons {
    display: flex;
    gap: 10px;
    height: 20px;
  }