@charset "utf-8";

/* Top bar decoration */
.top-bar {
  background-color: green;
  height: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

/* Invisible div for padding */
.nav-spacer {
  padding-bottom: 110px;
}

/* Navbar styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 6rem;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 3;
}

/* Teafusion logo */
.navbar .logo {
  height: 45px;
}

/* ul items */
.navbar .nav {
  display: flex;
  gap: 6rem;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

/* ul items color */
.navbar .nav li a {
  color: #008000;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Bookman Old Style', serif;
  font-size: 17px;
}

/* ul items hover color */
.navbar .nav li a:hover {
  color: #555;
}

/* ul items active underline */
.nav li a:active {
  text-decoration: underline;
  color: black;
}

/* Navbar right-side icons */
.navbar .nav-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

/* Navbar right-side icons */
.navbar .nav-icons img {
  width: 24px;
  transition: all 0.3s ease-in-out;
}

/* Hover effect */
.navbar .nav-icons img:hover {
  transform: scale(1.1);
}