.container{
    max-width: 1600px;
    margin: 2rem auto;
}

.section{
    display: flex;
    flex-flow: row wrap;
    gap: 5%;
    justify-content: center;
    padding: 1rem;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row2{
    flex-direction: row;
    display: flex;
    gap: 5em;
}

.pfp{
    max-width: 240px;
    height: 240px;
    float: left;
    margin-right: 50px;
}

/* All text */
.row1{
    letter-spacing: 1px;
}

/* "My Account" */
.row1 h1{
    font-family: 'Bookman Old Style', serif;
    font-weight: bold;
    color: darkgreen;
    font-size: 2.3rem;
}

/* Section headers */
.row2 div h3{
    margin-top: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
    color: darkgreen;
    font-size: 20px;
}

/* Information subheaders */
.row2 div h4{
    color: rgb(60,60,60);
    font-weight: lighter;
    font-family: 'Nunito Sans', sans-serif;
}

.column1 p{
    font-size: 15px;
}

.orderH{
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 0.5rem;
    font-size: 18px !important; 
}

.orderT{
    font-weight: 200;
    margin-top: 0;
    font-size: 15px;
}

