@charset "utf-8";

/* Resets */
body{
  margin: 0;
}

/* CSS stylesheet */

/* Set box-sizing property to border-box for all elements */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 248, 248);
}

h2 {
  font-family: 'Bookman Old Style', serif;
  font-weight: bold;
}

p {
  font-family: 'Mr Eaves XL Modern', sans-serif;
  font-weight: 400;
}

button {
  background-color: #EDA91F;
  color: white;
  letter-spacing: 1px;
  border-radius: 3px;
  border: none;
  padding: 12px 22px;
  transition: opacity 0.2s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

img[src="assets/images/home/home-full-2.png"] {
  width: 100vw;
  height: auto;
}

.landing {
  position: relative;
}

.landing-image {
  position: relative;
}

.landing-image button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* Center the full bleed image */
.landing img {
  width: 100%;
  height: auto;
  display: block;
}

/* Center the container element */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Center the testimonials section */
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px 0 100px;
}

.testimonial-break {
  margin: 50px 0;
}

/* Center the about us image */
.about-us-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .about-us-full-2 {
  width: 100%;
  height: auto;
} */

.rectangle-gradient-1 {
  display: block;
  margin: 0 auto;
}

/* Center the origin story section */
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.block .left {
  flex: 1;
  padding-right: 50px;
}

.block .right {
  flex: 1;
  padding-left: 50px;
}

.block h2 {
  margin-bottom: 20px;
}

.testimonial-text p {
  margin-bottom: 10px;
}

/* Center the values section */
.block:nth-of-type(3) {
  background: #f7f7f7;
}

/* Center the sourcing section */
.block:nth-of-type(4) {
  background: #fff;
}

  /* Menu images */
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.menuitem {
    width: calc(100% / 3);
    text-align: center;
    position: relative;
    padding: 80px;
}

.menuitem:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.menuitem img {
    max-width: 140%;
    height: auto;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.menuitem img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

/* Image, Parallax(?) */
.parallax {
    height: 500px;
    background-image: url('./assets/images/home/home-full-2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}


