@charset "utf-8";

/* Resets */
body {
  margin: 0;
}

/* CSS stylesheet */

/* Set box-sizing property to border-box for all elements */
* {
  box-sizing: border-box;
}

/* Set background color for body */
body {
  background-color: rgb(248, 248, 248);
}

/* Set styles for heading 2 elements */
h2 {
  font-family: 'Bookman Old Style', serif;
  font-weight: bold;
  color: rgb(51, 20, 20);
  font-size: 2.3rem;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5rem;
  margin-top: 4rem;
  letter-spacing: 2px;
}

h4 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
}

/* Set styles for paragraph elements */
p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}

/* Set styles for button elements */
button {
  background-color: #EDA91F;
  color: white;
  letter-spacing: 1px;
  border-radius: 3px;
  border: none;
  padding: 12px 22px;
  transition: opacity 0.2s ease-in-out;
}

/* Set styles for button elements on hover */
button:hover {
  opacity: 0.8;
}
/* Set styles for landing image section */

/* Set styles for button inside landing image section */
.landing-image button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* Center the full bleed image */
.landing img {
  width: 100%;
  height: auto;
  display: block;
}

/* Center the container element */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Center the testimonials section */
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 110px 20px;
}

/* Set width and height for images in the testimonials section */
.flex-row img {
  width: 300px;
  height: 300px;
}

/* Set styles for testimonial section */
.testimonial-break {
  margin: 30px 0;
}

.testimonial-container {
  margin-left: 100px;
}

.testimonial-text p {
  margin-bottom: 10px;
}

/* Center the about us image */
.about-us-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.about-us-img>img {
  max-width: 100%;
  height: auto;
}

/* Set styles for a gradient background */
.gradient {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-gradient-1 {
  max-width: 100%;
  height: auto;
}

.rectangle-gradient-2 {
  display: block;
  position: relative;
  width: 200%;
}

/* Center the origin story section */
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.block .left {
  flex: 1;
  padding-right: 20px;
}

.block .right {
  flex: 1;
  padding-left: 100px;
}

.block h2 {
  margin-bottom: 20px;
}

/* Center the values section */
.block:nth-of-type(3) {
  background: #f7f7f7;
}

/* Center the sourcing section */
.block:nth-of-type(4) {
  background: #fff;
}

/* Menu images */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.menuitem {
  width: calc(100% / 3);
  text-align: center;
  position: relative;
  padding: 80px;
}

.menuitem:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menuitem img {
  max-width: 140%;
  height: auto;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.menuitem img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

/*right section*/
.right {
  margin-top: 80px;
}

.right p {
  margin-right: 70px;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1px;
}

.right img {
  max-width: 260px;
  height: auto;
}

.left img {
  width: 90%;
  height: auto;
  margin-left: 5rem;
}

.source-text p {
  margin-right: 140px;
  margin-bottom: 10px;
}

.source img {
  width: 80%;
  height: auto;
  margin-right: 30rem;
}

/* teas page */
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* total width of four items */
}

.product button,
.tea-product-text button {
  color: white;
  background-color: green;
}

.product-item {
  box-sizing: border-box;
  padding: 3rem;
}

.product-item img {
  width: 100%;
  height: auto;
}

.product-item img:hover,
.tea-product-item img:hover {
  opacity: 0.8;
}

.product-text {
  text-align: center;
  color: rgb(38, 106, 31);
}

.product-text p:first-child {
  font-weight: 800;
  letter-spacing: 1px;
}

.featured img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.center h2,
.center h3 {
  text-align: center;
  color: rgb(38, 106, 31);
}

.featured-flavors-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3rem 0;
}

.featured-flavors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-text {
  margin-left: 10px;
  margin-right: 150px;
  color: rgb(89, 18, 18);
}

.featured-header {
  margin-top: 90px;
}

.featured-description {
  text-align: left;
}

.flavor-icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.flavor-icons-column {
  flex-basis: calc(50% - 10px);
  text-align: center;
  margin-top: 40px;
}

.flavor-icons-column img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  height: 140px;
}

/*star rating*/
.checked {
  color: orange;
}

/*tea products page*/

.tea-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.tea-product-item {
  width: 30%;
  margin: 1em;
  text-align: center;
  padding: 2em;
}

.tea-product-item img {
  max-width: 100%;
}

.tea-product-item p {
  margin: 0.5em 0;
}

.awaken {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.awaken img {
  width: 100%;
  height: auto;
  display: block;
}

.right-product-text>p:first-child {
  font-family: 'Bookman Old Style', serif;
  font-weight: bold;
  color: green;
  font-size: 2.2rem;
}

.tp-left a {
  text-decoration: underline;
  color: black;
  font-family: 'Nunito Sans';
}

.tp-left a:hover {
  color: gray;
  font-family: 'Nunito Sans', sans-serif;
}

.tp-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.tp-column {
  flex-basis: calc(50% - 10px);
  margin-top: 40px;
}

.tp-column img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  height: 140px;
}